<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:myApp.properties"/>

    <bean id="myPet"
          class="spring_introduction.MrsAbooba">

    </bean>

    <bean id="myChat"
          class="spring_introduction.Chat">
     <!--   <constructor-arg ref="myPet"/>    -constructor -->
        <property name="twitchAnimal" ref="myPet"/> <!-- setter -->
        <property name="nickname" value="${chat.nickname}"/>
        <property name="age" value="${chat.age}"/>
    </bean>


</beans>